Source: mcrouter
Maintainer: Ricky Ramirez <rram@reddit.com>
Section: net
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9),
 autoconf,
 automake,
 binutils-dev,
 bison,
 dh-autoreconf,
 flex,
 g++-4.8,
 gcc-4.8,
 git,
 libboost1.54-all-dev,
 libdouble-conversion-dev,
 libevent-dev,
 libgflags-dev,
 libgoogle-glog-dev,
 libgtest-dev,
 libiberty-dev,
 libjemalloc-dev,
 libpython2.7-stdlib,
 libssl-dev,
 libtool,
 pkg-config,
 python-dev,
 python-minimal,
 ragel

Package: mcrouter
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: memcached, libmemcached
Description: Memcache protocol router for scaling Memcached deployments.
 https://github.com/facebook/mcrouter
