#!/usr/bin/make -f
# -*- makefile -*-
#
#  Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export CC = gcc-4.8
export CXX = g++-4.8

%:
	dh $@ --with autoreconf --sourcedirectory=mcrouter/

override_dh_auto_build:
	dh_auto_build --parallel $@

override_dh_auto_configure:
	dh_testdir
	#cp -rp /usr/src/gtest/ mcrouter/test/
	#cp -rp /usr/include/gtest/ mcrouter/test/
	dh_auto_configure $@

override_dh_auto_test:
	# Skip tests because they are currently failing.
